<html>
<head>
    <style>
            body{
            margin-top: 20%;
            padding: 0;
            display: flex;
            align-content: center;
            }

            #login{
            border: 2px solid black;
            border-radius: 3px;
            background-color: #e6f0ff;
            }
    </style>
</head>
<body>
<h1>Login</h1>
<form name='f' action="perform_login" method='POST'>
    <table id="login">
        <tr>
            <td>User:</td>
            <td><input type='text' name='username' value=''></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type='password' name='password' /></td>
        </tr>
        <tr>
            <td><input name="submit" type="submit" value="submit" /></td>
        </tr>
    </table>
</form>
</body>