$font_stack: Helvetica, sans-serif;
$primary_color: #3385ff;
$secondary_color: #99c2ff;
$tertiary_color: #e6f0ff;

body {
  margin-top: 0;
  padding: 0;
  font: $font_stack;
  background-image: linear-gradient(to bottom right, white, $secondary_color);
  height: 100%;
}

#navBar{
  ul{
    margin: 0;
    padding: 10px;
    background-color: $primary_color;
  }
  li{
    display: inline-block;
    border: 2px solid black;
    border-radius: 3px;
    margin: 5px;
  }
}

button{
  margin-top : 2%;
  background-color: $primary_color;
  border : none;
  border-radius: 3px;
}

.content{
  margin-left: 5%;
  padding-left: 5%;
  border-left: 2px solid grey;
}

.notification{
  height: 15%;
  padding-left: 5px;
  border: 2px solid $primary_color;
  border-radius: 3px;
  margin-top: 2%;
  background-color: $tertiary_color;
}

.notificationAdd{
  height: 15%;
  padding-left: 5px;
  border: 2px solid black;
  border-radius: 3px;
  margin-top: 2%;
  background-color: $tertiary_color;
}


